<section class="intro">
   
 
<div class="container">

    <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_fjords.jpg">
      <img src="img_fjords.jpg" alt="HTML" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="img_forest.jpg" alt="CSS" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="img_lights.jpg" alt="JAVASCRIPT" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
 
  </div>
  <div class="container">
      <p class="lead">大家好 <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}</p>
    </div>
</section>
