<section class="intro">
  
<div class="container">

    <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_fjords.jpg">
      <img src="../assets/images/HTML.jpg" alt="HTML" width="300" height="200">
    </a>
    <div class="desc">HTML</div>
  </div>

  <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="../assets/images/CSS.png" alt="CSS" width="300" height="200">
    </a>
    <div class="desc">CSS</div>
  </div>

  <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="../assets/images/JS.png" alt="JS" width="300" height="200">
    </a>
    <div class="desc">JAVASCRIPT</div>
  </div>
  
  <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="../assets/images/JQUERY.jpg" alt="JQUERY" width="300" height="200">
    </a>
    <div class="desc">JQUERY</div>
  </div>
  
  <!--123-->
  <div class="gallery">
    <a target="_blank" href="{{ post.url | prepend: site.baseurl }}">
      <img src="../assets/images/REACT.png" alt="REACT" width="300" height="200">
    </a>
    <div class="desc">REACT</div>
  </div>
  
  <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_forest.jpg">
      <img src="../assets/images/JQUERY.png" alt="CSS" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <!--123-->
  <div class="gallery">
    <a target="_blank" href="img_lights.jpg">
      <img src="img_lights.jpg" alt="JAVASCRIPT" width="300" height="200">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="300" height="200">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>
 <br><br><br><br><br><br><br><br><br><br><br><hr>
  </div>
  <div class="container">
      <p class="lead">大家好 <strong class="author-name" itemprop="name">{{ site.author.name }}</strong>, a <em itemprop="jobTitle">{{ site.author.job }}</em>. <br>
    {{ site.author.bio }}</p>
    </div>
</section>
